/* You can add global styles to this file, and also import other style files */

//@import url("bootstrap.min.css");

.bg-purple {
  background-color: var(--purple);
}

.bg-cyan {
  background-color: var(--cyan);
}


.bg-green {
  background-color: var(--green);
}

.bg-blue {
  background-color: var(--blue);
}



.clickable {
  cursor: pointer;

}

.clickable:hover{
  background-color: #eae8e829;
}
